/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* all HTML elements, change font and size */
html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

/* header section */
header {
  margin: 6px;
  display: flex;
}

/* navbar */
nav {
  display: flex;
  margin-left: auto;
}

/* the nav unordered list - ul */
ul {
  display: flex;
}

/* the list items - li */
li {
  list-style: none;
}

/* the links - a tag */
a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #000000;
}

/* the links on hover - a tag */
a:hover {
  text-decoration: underline;
}

/* Nav bar img */
nav img {
  height: 24px;
  width: 24px;
}

/* The menu */

#menu-label {
  cursor: pointer;
}

#check-menu {
  display: none;
}

#menu-items {
  margin: 15px 0px 0px 0px;
  background: white;
  position: absolute;
  border-radius: 5px;
  flex-wrap: wrap;
  width: 250px;
  right: 0px;
}

#check-menu:checked + #menu-items {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  gap: 10px;
}

.item-menu a {
  flex-direction: column;
  margin: 0px !important;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  flex: 1 1 auto;
  display: flex;
  padding: 10px;
}

.item-menu:hover {
  background: #1f80ff1f;
}

.item-menu span {
  margin: 5px 0px 0px 0px;
  font-size: 1em;
}

.item-menu img {
  height: auto;
  width: 38px;
}

#more-menu:hover {
  background: transparent;
}

#more-menu span {
  border: 1px solid #dadce0;
  margin: 16px 0 20px 0;
  border-radius: 4px;
  padding: 10px 24px;
  max-width: 150px;
  color: #1a73e8;
  font-size: 1em;
}

#more-menu a {
  margin: 0px !important;
  text-decoration: none;
}

/* The END of Menu */

/* Start of nav imgs + text */
#nav-imgs,
#nav-texts {
  margin: 10px;
  display: flex;
}

#nav-imgs a,
#nav-texts a {
  margin-left: 20px;
  text-align: center;
}

#nav-texts {
  padding-top: 4px;
}
